<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link th:replace="~{/fragments/fragments :: head}">
</head>
<body>
    <nav th:replace="~{/fragments/fragments :: navbar('pizzas', true)}"></nav>
    <th:block th:if="${message}">
        <div class="alert alert-dismissible fade show"
             th:classAppend="${#strings.equals(message.type, 'SUCCESS')} ? alert-success : alert-danger">
            <div th:text="${message.text}"></div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </th:block>
    <table th:if="${list.size() > 0}" class="table table-striped table-dark">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Actions</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="pizza : ${list}" th:object="${pizza}">
        <td th:text="*{name}"></td>
        <td th:text="*{description}"></td>
        <td th:text="*{price}"></td>
        <td>
            <a class="btn btn-primary" th:href="@{|/pizzas/*{id}|}"><i class="fa-solid fa-eye"></i></a>
            <a class="btn btn-warning" th:href="@{|/pizzas/edit/*{id}|}"><i class="fa-solid fa-pen-to-square"></i></a>
            <a class="btn btn-danger" th:href="@{|/pizzas/delete/*{id}|}" title="delete"><i class="fa-solid fa-trash-can"></i></a>
        </td>
    </tr>
    </tbody>
</table>

<h1 th:if="${list.size() == 0}">NO RECORDS HERE</h1>
</body>
</html>